body {
  margin: 0px;
  font-family: sans-serif;
}

nav {
  background-color: #2d4b1e;
  color: white;
  margin: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
  border-bottom: 3px solid white;
  padding: 1rem 0;
}

.navbar-logo {
  height: auto;
  width: auto;
  max-height: 72px;
  max-width: 250px;
  margin-left: 20px;
}

main {
  margin: 0 auto;
}

article {
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  overflow: hidden;
  font-family: sans-serif;
  line-height: 1.5;
  margin-bottom: 2rem;
  font-size: 0.75rem;
  background: #2d4b1e;
  color: white;
}

select {
  height: 50%;
  margin-right: 20px;
}

.park-cards section {
  padding: 1rem 2rem;
}

.left article {
  color: #2d4b1e;
  background-color: white;
  margin: 20px 0;
  font-size: 16px;
  padding: 1rem 2rem;
}

img {
  display: block;
  width: 100%;
}

article img {
  height: 200px;
  object-fit: cover;
}

li {
  display: inline-block;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 0.8em;
  background: #c56c39;
  color: white;
  padding: 0.3em;
  border-radius: 0.2em;
  margin-right: 0.5em;
  margin-top: 0.5em;
}

ul {
  padding: 0;
}

.park-cards {
  display: none;
}

.park-cards.active {
  display: grid;
  margin: 2rem;
}

.park-page {
  display: none;
  margin: 2rem;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.park-page.active {
  display: block;
}

.park-name {
  color: black;
  grid-area: 1 / 1 / 1 / 3;
}

.left {
  grid-area: 2 / 1 / 3 / 2;
}

.right {
  grid-area: 2 / 2 / 3 / 3;
}

#back {
  display: block;
  margin-top: 20px;
  margin-left: 2rem;
}

#back.active {
  display: none;
}

#next {
  margin-top: 20px;
  margin-right: 2rem;
}

#next.active {
  display: none;
}

#previous {
  margin-top: 20px;
  margin-left: 2rem;
}

#previous.active {
  display: none;
}

.button-flex {
  display: flex;
  justify-content: space-between;
}

.slideshow {
  /* what width and height for fullscreen? */
  height: 300px;
  background: black;
  position: relative;
  box-sizing: border-box;
  padding: 0;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
}

/*
  padding
  margin
  transform
  display modes (flex, grid)
  position
*/

.slideshow > img {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  transition: opacity 1s;
  object-fit: cover;
}

.slideshow > img.active {
  opacity: 1;
}

.slideshow > button {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0.5rem;
  margin: auto 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slideshow > button.derecho {
  left: unset;
  right: 0.5rem;
}

.map {
  border-radius: 10px;
  margin: 20px 0;
  height: 400px;
}

main {
  max-width: 1200px;
}

.park-name h1 {
  margin: 0;
}

.izuierda,
.derecho {
  background-color: white;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  border: none;
  width: 2rem;
  height: 2rem;
  border-radius: 2px;
}

.izuierda i,
.derecho i {
  margin-top: 1px;
}

.izuierda i {
  margin-right: 2px;
}

.derecho i {
  margin-left: 2px;
}

@media (min-width: 768px) {
  .park-cards.active {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }

  .park-page.active {
    display: grid;
  }
}

@media (min-width: 1000px) {
  .park-cards.active {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
