@media (min-width: 768px) {
  .park-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
}

@media (min-width: 1000px) {
  .park-cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

body {
  margin: 0px;
}

nav {
  background-color: #2d4b1e;
  color: white;
  margin: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
}

.navbar-logo {
  height: auto;
  width: auto;
  max-height: 72px;
  max-width: 250px;
  margin-left: 20px;
}

main {
  margin: 0 auto;
}

article {
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  overflow: hidden;
  font-family: sans-serif;
  line-height: 1.5;
  margin-bottom: 2rem;
  font-size: 0.75rem;
  background: #2d4b1e;
  color: white;
}

select {
  height: 50%;
  margin-right: 20px;
}

.park-cards section {
  padding: 1rem 2rem;
}

.left article {
  color: #2d4b1e;
  background-color: white;
  margin: 20px;
  font-size: 16px;
  padding: 1rem 2rem;
}

.right div {
  height: 80%;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 0.5rem;
}

.right ul {
  margin-left: 20px;
  margin-right: 20px;
}

img {
  display: block;
  width: 100%;
}

article img {
  height: 200px;
  object-fit: cover;
}

li {
  display: inline-block;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 0.5rem;
  background: #c56c39;
  color: white;
  padding: 0.2rem;
  border-radius: 0.2rem;
  margin-right: 5px;
}

ul {
  padding: 0;
}

.park-cards {
  display: none;
}

.park-cards.active {
  display: grid;
  margin: 2rem;
}

.park-page {
  display: none;
}

.park-page.active {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 10% 90%;
  min-height: 100vh;
  background: black;
}

.park-name {
  background: #2d4b1e;
  color: white;
  grid-area: 1 / 1 / 1 / 3;
}

.left {
  grid-area: 2 / 1 / 3 / 2;
  background: #2d4b1e;
}

.right {
  grid-area: 2 / 2 / 3 / 3;
  background: #2d4b1e;
}

#back {
  display: block;
}

#back.active {
  display: none;
}

#next {
  margin-top: 20px;
  margin-right: 20px;
}

#next.active {
  display: none;
}

#previous {
  margin-top: 20px;
  margin-left: 20px;
}

#previous.active {
  display: none;
}

.button-flex {
  display: flex;
  justify-content: space-between;
}

.done {
  background-color: #2d4b1e;
}

.slideshow {
  /* what width and height for fullscreen? */
  height: 300px;
  background: blue;
  position: relative;
  box-sizing: border-box;
  margin-left: 20px;
  margin-right: 20px;
}

/*
  padding
  margin
  transform
  display modes (flex, grid)
  position
*/

.slideshow > img {
  background: red;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  transition: opacity 1s;
  object-fit: cover;
}

.slideshow > img.active {
  opacity: 1;
}

.slideshow > button {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 30px;
  margin: auto 0;
}

.slideshow > button.derecho {
  right: 0;
}
